<html>
	<head>
		{% if title %}
		<title>{{title}} - microblog</title>
		{% else %}
		<title>microblog</title>
		{% endif %}
	</head>
	<body>
		<div>Microblog:
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/test">Test Page</a></li>
            </ul>
        </div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>